﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 80px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.etsu-blue {
    background-color: #041E41;
}

/*------  Bootstrap Overrides  ------*/
.navbar {
    min-height: 80px;
    
}

.navbar-inverse {
    background-color: #041E41;
    border-top: 15px solid #f8bf24;
}

.navbar-inverse .navbar-brand {
    color: #f8bf24;
    margin-left: 15px;
    margin-top: 5px;
    padding: 0 0;
}

.navbar-inverse .navbar-nav > li > a{
    color: white;
}

/* ------- Validation Error Stuff --------*/
textarea {
    max-width: 280px;
}

.field-validation-error{
    color: red;
}

.input-validation-error{
    border-color: red;
}

.validation-summary-errors{
    color: red;
}

.validation-summary-errors ul {
    list-style: none;
    margin-left: -25px
}


/* ------ Side Bar Stuff ------- */
.wrapper {
    display: flex;
    align-items: stretch;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

        #sidebar.active {
            margin-left: 0;
        }
}

/*
    ADDITIONAL DEMO STYLE, NOT IMPORTANT TO MAKE THINGS WORK BUT TO MAKE IT A BIT NICER :)
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(254, 227, 148, 1) 100%);
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
}

p > a {
    color: #0077A2;
}

td > a {
    color: #0077A2;
}

hr {
    border-top: 1px solid;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    color: #041E41;
    transition: all 0.3s;
}

    #sidebar.active {
        margin-left: -250px;
    }

    #sidebar .sidebar-header {
        padding: 20px;
        background: #fff;
    }

    #sidebar ul.components {
        padding-top: 15px;
        padding-left: 15px;
    }

        #sidebar ul ul li a {
            padding: 10px 20px 10px 65px;
        }

    #sidebar ul p {
        color: #000;
        padding: 10px;
    }

    #sidebar ul li a {
        padding: 10px;
        padding-left: 20px;
        font-size: 1.1em;
        display: block;
    }

        #sidebar ul li a:hover {
            color: #0077A2;
        }

    #sidebar ul li.active > a, a[aria-expanded="true"] {
        color: #ffffff;
        background: #383838;
    }

ul ul a {
    font-size: 0.9em !important;
}

li > * {
    display: inline-block;
    vertical-align: middle;
}

.btn-dark {
    margin-top: 14px;
}

/* ------- Top Bar ------- */
.topbar-left{
    float: left;
    position: relative;
    width: 240px;
    z-index: 1;
    max-height: 70px;
}

.logo {
    color: #f8bf24;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: .05em;
    line-height: 70px;
}

.nav-custom {
    padding: 17px 30px 0 0;
    font-size: 17px;
    bottom: 0;
}
