﻿@model IEnumerable<GradExam.Models.Concentration>
@{
	ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
	<a asp-action="Add">Create New</a>
</p>
<table class="display" id="concentrationTable">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.Id)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Name)
				</th>
				<th></th>
			</tr>
		</thead>
		@*<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Id)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Name)
					</td>
					<td>
						@Html.ActionLink("Edit", "Edit", "Concentration", new { id = item.Id }) |
						@Html.ActionLink("Details", "Edit", "Concentration", new { id = item.Id, read = true }) |
						@Html.ActionLink("Delete", "Delete", new { id=item.Id  })
					</td>
				</tr>
			}
		</tbody>*@
	</table>
@section Scripts{
	<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script>
        $(document).ready(function () {

            $("#concentrationTable").DataTable(
                {
                    "ajax": {
                        "url": "/Concentration/GetList",
                        "type": "GET",
                        "dataType": "json"
                    },
                    "columns": [
                        { "data": "id" },
                        { "data": "name" },
                        {
                            mRender: function (data, type, row) {
                                var linkEdit = '@Html.ActionLink("Edit", "Edit", new {id= -1 })';
                                linkEdit = linkEdit.replace("-1", row.id);

                                var linkDetails = '@Html.ActionLink("Details", "Details", new {id= -1 })';
                                linkDetails = linkDetails.replace("-1", row.id);

                                var linkDelete = '@Html.ActionLink("Delete", "Delete", new {id= -1 })';
                                linkDelete = linkDelete.replace("-1", row.id);

                                return linkDetails + " | " + linkEdit + " | " + linkDelete;
                            }
                        }
                    ]
                });
        });

	</script>
	}

