﻿@model GradExam.Models.Semester

@{
    ViewData["Title"] = "Delete";
}

<div>
    <h3>Are you sure you want to delete this?</h3>
    <div class="col-sm-offset-1 col-sm-11">
        <div class="form-group">
            <label><b>Id: </b></label>
            <span>@Model.SemesterId</span>
        </div>

        <div class="form-group">
            <label><b>Season: </b></label>
            <span>@Model.Season</span>
        </div>

        <div class="form-group">
            <label><b>Year: </b></label>
            <span>@Model.Year</span>
        </div>
        <form asp-action="Delete">
            <input asp-for="SemesterId" type="hidden" />
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index" asp-controller="Home">Back to List</a>
        </form>
    </div>


</div>