﻿@model GradExam.Models.Semester
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Semester</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            @Html.HiddenFor(model => model.SemesterId)
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Id</label>
                <input asp-for="SemesterId" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Season" class="control-label"></label>
                @Html.DropDownList("Season", Html.GetEnumSelectList(typeof(Season)), new { @class = "form-control" })
                <span asp-validation-for="Season" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>