﻿@model IEnumerable<GradExam.Models.Semester>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="display" id="semesterTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SemesterId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Season)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
</table>

@section Scripts{
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        var table = $('#semesterTable').DataTable();
        $(document).ready(function () {
            $.ajax({
                "url": "/Semester/GetList",
                "type": "GET",
                "dataType": "json",
                success: function (data) {
                    for (var i = 0; i < data.data.length; i++) {
                        var id = data.data[i].semesterId;
                        var year = data.data[i].year;
                        var season = '';
                        switch (data.data[i].season) {
                            case 1: season = "Spring";
                                break;
                            case 2: season = "Summer";
                                break;
                            case 3: season = "Fall";
                                break;
                            case 4: season = "Winter";
                        }
                        var linkEdit = '@Html.ActionLink("Edit", "Edit", new {id= -1 })';
                        linkEdit = linkEdit.replace("-1", id);

                        var linkDetails = '@Html.ActionLink("Details", "Details", new {id= -1 })';
                        linkDetails = linkDetails.replace("-1", id);

                        var linkDelete = '@Html.ActionLink("Delete", "Delete", new {id= -1 })';
                        linkDelete = linkDelete.replace("-1", id);

                        var string =  linkEdit + " | " + linkDelete;

                        table.row.add([id, season, year, string]).draw();
                        console.log(table);
                    }
                }
            });

            @*$("#semesterTable").DataTable(
                {
                    "ajax": {
                        "url": "/Semester/GetList",
                        "type": "GET",
                        "dataType": "json"
                    },
                    "columns": [
                        { "data": "semesterId" },
                        { "data": "season" },
                        { "data": "year" },
                        {
                            mRender: function (data, type, row) {
                                var linkEdit = '@Html.ActionLink("Edit", "Edit", new {id= -1 })';
                                linkEdit = linkEdit.replace("-1", row.id);

                                var linkDetails = '@Html.ActionLink("Details", "Details", new {id= -1 })';
                                linkDetails = linkDetails.replace("-1", row.id);

                                var linkDelete = '@Html.ActionLink("Delete", "Delete", new {id= -1 })';
                                linkDelete = linkDelete.replace("-1", row.id);

                                return linkDetails + " | " + linkEdit + " | " + linkDelete;
                            }
                        }
                    ]
                });*@
        });

    </script>
}
