﻿@model GradExam.ViewModels.EditUserViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>@Model.User.FirstName @Model.User.LastName</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            @Html.HiddenFor(model => model.User.Id)
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="User.FirstName" class="control-label"></label>
                @Html.EditorFor(model => model.User.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                <span asp-validation-for="User.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.LastName" class="control-label"></label>
                @Html.EditorFor(model => model.User.LastName, new { htmlAttributes = new { @class = "form-control" } })
                <span asp-validation-for="User.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Email" class="control-label"></label>
                @Html.EditorFor(model => model.User.Email, new { htmlAttributes = new { @class = "form-control" } })
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
    <div class="col-sm-6">

        @if (User.IsInRole("Admin"))
        {
            <div class="col-sm-8">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Role</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.UserCurrentRoles)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(model => item.Name)
                                </td>
                                <td><a style="color:blue;" href="/User/RemoveRole/?roleId=@item.Id&userId=@Model.User.Id">Remove</a></td>
                            </tr>
                        }

                    </tbody>
                </table>
                @using (Html.BeginForm("AddRole", "User"))
                {
                    @Html.Hidden("userId", Model.User.Id)
                    <div class="form-group">
                        <div class="col-xs-8">
                            @Html.DropDownList("roleName", Model.Roles, "--- Roles ---", new { @class = "form-control" })
                        </div>
                        <div class="col-xs-4">
                            <input type="submit" value="Add Role" class="btn btn-default" />
                        </div>
                    </div>
                }
            </div>
        }
    </div>   
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

