﻿@using Microsoft.AspNetCore.Identity

@model GradExam.ViewModels.HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<div class="col-sm-12" style="text-align: center">
    @if (SignInManager.IsSignedIn(User))
    {
        <h2>Hello, @User.Identity.Name. Feel free to look around.</h2>
    }
    else
    {
        <h2>Please Log in to access Grad Exam</h2>
    }

</div>
