﻿@model IEnumerable<GradExam.Models.LearnOutcome>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Add">Create New</a>
</p>
<table id="loTable" class="display">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LearningOutcome)
            </th>
            <th></th>
        </tr>
    </thead>
    @*<tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LearningOutcome)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Update", "LearnOutcome", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>*@
</table>

@section scripts {
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function(){

            $("#loTable").DataTable(
                {
                    "ajax": {
                        "url": "/LearnOutcome/GetList",
                        "type": "GET",
                        "dataType": "json"
                    },
                    "columns": [
                        { "data": "id" },
                        { "data": "learningOutcome" },
                        {
                            mRender: function (data, type, row) {
                                var linkEdit = '@Html.ActionLink("Edit", "Update", new {id= -1 })';
                                linkEdit = linkEdit.replace("-1", row.id);

                                var linkDetails = '@Html.ActionLink("Details", "Details", new {id= -1 })';
                                linkDetails = linkDetails.replace("-1", row.id);

                                var linkDelete = '@Html.ActionLink("Delete", "Delete", new {id= -1 })';
                                linkDelete = linkDelete.replace("-1", row.id);

                                return linkDetails + " | " + linkEdit + " | " + linkDelete;
                            }
                        }
                    ]
                });
        });
    </script>
}