﻿@model GradExam.ViewModels.EditCourseViewModel
@{
    ViewData["Title"] = "Add";
}
@using Microsoft.AspNetCore.Identity

@inject UserManager<User> UserManager

<h2>Add</h2>
@using (Html.BeginForm("Add", "Course"))
{
    @Html.ValidationSummary()
    <div class="col-sm-4">
        <div class="form-group">
            @Html.LabelFor(model => model.Course.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.EditorFor(model => model.Course.Name, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Course.Semester, new { htmlAttributes = new { @class = "form-control" } })
            @Html.DropDownListFor(m => m.Course.Semester.SemesterId, new SelectList(Model.Semesters, "SemesterId", ""), "--- Semesters ---", new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Course.Section, new { htmlAttributes = new { @class = "form-control" } })
            @Html.EditorFor(model => model.Course.Section, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Course.Instructor, new { htmlAttributes = new { @class = "form-control" } })
            @{ if (User.IsInRole("Instuctor"))
                {
                    @Html.DropDownListFor(model => model.UserId, new SelectList(Model.Instructors, "Id", "FullName"), "--- Instructors ---", new { @class = "form-control" })
                }
                else
                {
                    @Html.DropDownListFor(model => model.Course.Instructor.Id, new SelectList(Model.Instructors, "Id", "FullName"), "--- Instructors ---", new { @class = "form-control" })
                }
            }
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Course.Concentration, new { htmlAttributes = new { @class = "form-control" } })
            <br />
            <select id="myList">
                <option value="1">Applied Computer Science</option>
                <option value="2">Information Technology</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
}
