﻿@model GradExam.ViewModels.EditCourseViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Course</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Course.Id" type="hidden" />
            <div class="form-group">
                <label asp-for="Course.Name" class="control-label"></label>
                <input asp-for="Course.Name" class="form-control" />
                <span asp-validation-for="Course.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.Semester" class="control-label"></label>
                @Html.DropDownListFor(model => model.Course.Semester.SemesterId, new SelectList(@ViewBag.Semesters, "SemesterId", "", Model.Course.Semester.SemesterId), "--- Semesters ---", new { @class = "form-control" })
                <span asp-validation-for="Course.Semester" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.Section" class="control-label"></label>
                <input asp-for="Course.Section" class="form-control" />
                <span asp-validation-for="Course.Section" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.Instructor" class="control-label"></label>
                @Html.DropDownListFor(model => model.UserId, new SelectList(@ViewBag.Instructors, "Id", "FullName"), "--- Instructors ---", new { @class = "form-control" })
                <span asp-validation-for="Course.Instructor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

