﻿@model IEnumerable<GradExam.Models.Course>
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<p>
    <a asp-action="Add">Create New</a>
</p>
<p>
    @Html.ActionLink("Print PDF Format", "PrintPdfFormat", new { list = true }, null)
    @*<a asp-action="PrintPdfFormat">Print PDF Format</a>*@
</p>
<table id="courseTable" class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Semester)</th>
            <th>@Html.DisplayNameFor(model => model.Section)</th>
            <th>@Html.DisplayNameFor(model => model.Instructor)</th>
            <th>@Html.DisplayNameFor(model => model.Concentration)</th>
            <th></th>
        </tr>
    </thead>
    @*<tbody>
            @foreach (var item in Model)
            {

                if (item.Name == null)
                {

            }
            else
            {
                <tr>
                    <td>@Html.DisplayFor(model => item.Id)</td>
                    <td>@Html.DisplayFor(model => item.Name)</td>
                    <td>@Html.DisplayFor(model => item.Semester.DisplayName)</td>
                    <td>@Html.DisplayFor(model => item.Section)</td>
                    <td>@Html.DisplayFor(model => item.Instructor.FullName)</td>
                    <td>@Html.DisplayFor(model => item.Concentration.Name)</td>
                    <td>

                            <a href="/Course/Edit/@item.Id">Edit |</a>
                            <a href="/Course/Details/@item.Id">Details |</a>
                            <a href="/Course/Delete/@item.Id">Delete</a>
                        </td>
                    </tr>

                }
            }
        </tbody>*@
</table>

@section scripts{
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {

            $("#courseTable").DataTable(
                {
                    "ajax": {
                        "url": "/Course/GetList",
                        "type": "GET",
                        "dataType": "json"
                    },
                    "columns": [
                        { "data": "id" },
                        { "data": "name" },
                        {
                            mRender: function (data, type, row) {
                                var season;
                                switch (row.semester.season) {
                                    case 1:
                                        season = "Spring";
                                        break;
                                    case 2:
                                        season = "Summer";
                                        break;
                                    case 3:
                                        season = "Fall";
                                        break;
                                    case 4: season = "Winter";
                                        break;
                                }
                                return row.semester.year + ", " + season;
                            }
                        },
                        { "data": "section" },
                        { "data": "instructor.fullName" },
                        { "data": "concentration.name" },
                        {
                            mRender: function (data, type, row) {
                                var linkEdit = '@Html.ActionLink("Edit", "Edit", new {id= -1 })';
                                linkEdit = linkEdit.replace("-1", row.id);

                                var linkDetails = '@Html.ActionLink("Details", "Details", new {id= -1 })';
                                linkDetails = linkDetails.replace("-1", row.id);

                                var linkDelete = '@Html.ActionLink("Delete", "Delete", new {id= -1 })';
                                linkDelete = linkDelete.replace("-1", row.id);

                                return linkDetails + " | " + linkEdit + " | " + linkDelete;
                            }
                        }
                    ]
                });
        });

    </script>
}