﻿@model GradExam.ViewModels.LogInViewModel

@using (Html.BeginForm("LogIn", "Auth"))
{ 
    @Html.ValidationSummary()
    <div class="col-sm-4">
        <div class="form-group">
            @Html.LabelFor(model => model.Username)
            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Password)
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
}