﻿@model GradExam.ViewModels.ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
}

<h2>Reset Password</h2>

@using (Html.BeginForm("ResetPassword", "Auth"))
{
    @Html.ValidationSummary()
    <div class="col-sm-4">
        <div class="form-group">
            @Html.LabelFor(model => model.OldPassword)
            @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.NewPassword)
            @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmNewPassword)
            @Html.EditorFor(model => model.ConfirmNewPassword, new { htmlAttributes = new { @class = "form-control" } })
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
}
