﻿@model Tuple<Student, List<Tuple<string, double>>>

@{
    ViewData["Title"] = "Details";
}

<h2>@Html.DisplayFor(model => model.Item1.Name)</h2>

<div>
    <h4>Courses Enrolled</h4>
    <ul>
        @foreach(var course in Model.Item1.StudentCourses)
        {
            <li>@course.Course.Name  - @course.Course.Semester</li>
        }
    </ul>

</div>

<div>
    <h4>Averages by Course</h4>
    @{ string avg; }
    @foreach (var n in Model.Item2)
    {
            if (double.IsNaN(n.Item2))
            { avg = "No grades recorded for this course."; }
            else
            { avg = n.Item2.ToString(); }
        <ul>@n.Item1  - @avg </ul>
    }
</div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
